<footer class="app-footer">
        <strong>
          Copyright &copy; 2026&nbsp;
          <a href="https://adminlte.io" class="text-decoration-none">FixLearn</a>.
        </strong>
        All rights reserved.
      </footer>